<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="loginAni" style=" " scroll="false">
      <div class="spacer" style="width: 283px; height: 50px;"></div>

      <div style="text-align:center;">
            <img src="img/rHS9BKuiTiiKr4KJXtEO_360_logoGrande.png" width="50%" height="auto">
        </div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="registroDeElectores" class="button button-energized button-block ">Log in</a>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" class="button  button-clear button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
