<ion-view title="Registro de Electores" class="bg-gray" >
  <div class="bar bar-header bar-royal">
    <h1 class="title header-logo">Registro de Electores</h1>
  </div>
    <ion-content overflow-scroll="true" padding="true" class="has-header" >
        <h4>Responsable</h4>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Nombres</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 15px;"></div>
            <label class="item item-input">
                <span class="input-label">Apellidos</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 15px;"></div>
            <label class="item item-input">
                <span class="input-label">Cedula</span>
                <input type="number" placeholder="000-0000000-0">
            </label>
            <h4>Datos personales del Elector</h4>
            <label class="item item-input">
                <span class="input-label">Nombres</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Apellidos</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Cedula</span>
                <input type="text" placeholder="000-0000000-0">
            </label>
            <h4>Telefonos del Elector</h4>
            <label class="item item-input">
                <span class="input-label">Casa</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Trabajo</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Celular</span>
                <input type="text" placeholder="">
            </label>
            <div class="list card">
                <div class="item item-divider">Email &amp; Redes Sociales</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <input type="email" placeholder="usuario@email.com">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Facebook</span>
                            <input type="text" placeholder="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Twitter</span>
                            <input type="text" placeholder="@usuario">
                        </label>
                    </form>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Transporte &amp; Locación</div>
                <div class="item item-body">
                  <div class="list">
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">First Name</span>
                      <input type="text" placeholder="John">
                    </label>
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">Last Name</span>
                      <input type="text" placeholder="Suhr">
                    </label>
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">Email</span>
                      <input type="text" placeholder="john@suhr.com">
                    </label>
                  </div>
                    <form class="list">
                        <ion-toggle toggle-class="toggle-balanced">Tiene Transporte?</ion-toggle>
                        <ion-toggle toggle-class="toggle-balanced">Necesita Transporte?</ion-toggle>

                        <ion-toggle toggle-class="toggle-balanced">Su casa podria ser centro de soporte para las elecciones?</ion-toggle>
                        <label class="item item-input">
                            <span class="input-label">Facebook</span>
                            <input type="text" placeholder="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Twitter</span>
                            <input type="text" placeholder="@usuario">
                        </label>
                    </form>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
